<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="" (click)="active('home')">ABC</a>
    </div>
    <ul class="nav navbar-nav">
      <li [ngClass]="{ active: _active == 'home' }">
        <a routerLink="/home" (click)="active('home')">Home</a>
      </li>
      <li [ngClass]="{ active: _active == 'movies' }">
        <a routerLink="/movies" (click)="active('movies')">Movies</a>
      </li>

      <li [ngClass]="{ active: _active == 'login' }">
        <a routerLink="/login" (click)="active('login')">Login</a>
      </li>
    </ul>
  </div>
</nav>
